<p>Merhaba <strong><%= @student.email %></strong>,</p>

<p>Grup oluşturma süresi yaklaşıyor veya sona erdi.</p>

<p>Lütfen en kısa sürede sisteme girerek grubunu oluşturmayı unutma.</p>

<p>İyi çalışmalar,<br>Yönetim Ekibi</p>
