<div class="list-group">
  <%= link_to "Dashboard", admin_dashboard_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Grup Ayarları", edit_admin_setting_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Proje Ayarları", edit_admin_project_setting_path, class: "list-group-item list-group-item-action" %>
  <%= link_to 'Danışman Ekle', new_admin_advisor_path, class: "list-group-item list-group-item-action" %>
</div>


