<div class="bg-light border-end vh-100 p-3" style="width: 220px;">
    <h5 class="text-center"><br>
    Hoş geldiniz, <%= current_user.full_name %>
    </h5>
  <ul class="nav flex-column mt-4">
    <li class="nav-item">
      <%= link_to "Anasayfa", advisor_dashboard_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Projelerim", advisor_projects_path, class: "nav-link text-dark" %>
    </li>
    <li class="nav-item">
      <%= link_to "Gruplarım", advisor_groups_path, class: "nav-link text-dark" %>
    </li>
  </ul>
</div>
