<div class="bg-light border-end vh-100 p-3" style="width: 220px;">
    <h5 class="text-center">
    Hoş geldiniz, <%= current_user.email %>
    </h5>
  <ul class="nav flex-column mt-4">
    <li class="nav-item">
      <%= link_to "Projeler", student_projects_path, class: "nav-link text-dark" %>
    </li>
    <li class="nav-item">
      <%= link_to "Gruplarım", student_groups_path, class: "nav-link text-dark" %>
    </li>
  </ul>
</div>
