<% deadline = SystemSetting.find_by(key: 'project_selection_deadline')&.value_as_date %>
<% if deadline.present? %>
  <p><strong>Son proje seçim tarihi:</strong> <%= deadline.strftime("%d.%m.%Y") %></p>
<% end %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- Yayımlanan Projeler Kartı -->
    <div class="col-md-5 mb-4">
      <div class="card text-white bg-dark h-100 shadow-sm" style="cursor: pointer;" onclick="location.href='<%= published_student_projects_path %>'">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <h3 class="card-title">📢 Yayımlanan Projeler</h3>
        </div>
      </div>
    </div>

    <!-- Proje Teklifleri Kartı -->
    <div class="col-md-5 mb-4">
    <div class="card text-white bg-dark h-100 shadow-sm" style="cursor: pointer;" onclick="location.href='<%= proposals_student_projects_path %>'">
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <h3 class="card-title">📢 Proje Teklifi</h3>
      </div>
    </div>
  </div>
  </div>
</div>
